<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon/favicon.png" type="image/x-icon">
    <title>Anasayfa - Admin @ViewBag.Title </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/adminassets/css/vendors/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="~/adminassets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="~/adminassets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/adminassets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="~/adminassets/css/vendors/feather-icon.css">
    <link rel="stylesheet" type="text/css" href="~/adminassets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/adminassets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="~/adminassets/css/vendors/date-picker.css">
    <link rel="stylesheet" type="text/css" href="~/adminassets/css/vendors/owlcarousel.css">
    <link rel="stylesheet" type="text/css" href="~/adminassets/css/vendors/prism.css">
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/adminassets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/adminassets/css/style.css">
    <link id="color" rel="stylesheet" href="~/adminassets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="~/adminassets/css/responsive.css">
</head>
<body>
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- Loader starts-->
    <div class="loader-wrapper">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"> </div>
        <div class="dot"></div>
    </div>
    <!-- Loader ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        <div class="page-header">
            <div class="header-wrapper row m-0">
                <div class="header-logo-wrapper col-auto p-0">
                    <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
                    <div class="logo-header-main"><a href="index.html"><img class="img-fluid for-light img-100" src="../assets/images/logo/logo2.png" alt=""><img class="img-fluid for-dark" src="../assets/images/logo/logo.png" alt=""></a></div>
                </div>
                <div class="left-header col horizontal-wrapper ps-0">

                </div>
                <div class="nav-right col-6 pull-right right-header p-0">
                    <ul class="nav-menus">


                        <li>
                            <div class="mode"><i class="fa fa-moon-o"></i></div>
                        </li>
                        <li class="onhover-dropdown">
                            <div class="notification-box"><i data-feather="bell"></i></div>
                            <ul class="notification-dropdown onhover-show-div">
                                <li>
                                    <i data-feather="bell">            </i>
                                    <h6 class="f-18 mb-0">Satıs Bildirimler</h6>
                                </li>
                                <li>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0"><i data-feather="shopping-cart"></i></div>
                                        <div class="flex-grow-1">
                                            <p><a href="cart.html">Satıldı</a><span class="pull-right">3 hr</span></p>
                                        </div>
                                    </div>
                                </li>
                        </li>
                    </ul>
                    </li>
                    <li class="onhover-dropdown">
                        <div class="message"><i data-feather="message-square"></i></div>
                        <ul class="message-dropdown onhover-show-div">
                            <li>
                                <i data-feather="message-square">            </i>
                                <h6 class="f-18 mb-0">Yorumlar</h6>
                            </li>
                            <li>
                                <div class="d-flex align-items-start">
                                    <div class="message-img bg-light-primary"><img src="../assets/images/user/3.jpg" alt=""></div><!--Urun resimi -->
                                    <div class="flex-grow-1">
                                        <h5 class="mb-1"><a href="email_inbox.html">Emay Walter</a></h5><!--Mesaj atan hesap --><!--yorum ıd sine gore gidilecek urun -->
                                        <p><!--Mesaj --></p>
                                    </div>
                                    <div class="notification-right"><i data-feather="x"></i></div>
                                </div>
                            </li>

                        </ul>
                    </li>
                    <li class="maximize"><a href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize-2"></i></a></li>

                    <li class="profile-nav onhover-dropdown">
                        <div class="account-user"><i data-feather="user"></i></div>
                        <ul class="profile-dropdown onhover-show-div">
                            <li><a href="@Url.Action("")"><i data-feather="user"></i><span>Account</span></a></li>
                            <li><a href="login.html"><i data-feather="log-in"> </i><span>Log in</span></a></li>
                        </ul>
                    </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- Page Header Ends-->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper">
                <div>
                    <div class="logo-wrapper">
                        <a href="dashboard-02.html"><img class="img-fluid for-light" src="../assets/images/logo/logo.png" alt=""></a>
                        <div class="back-btn"><i data-feather="grid"></i></div>
                        <div class="toggle-sidebar icon-box-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
                    </div>
                    <div class="logo-icon-wrapper">
                        <a href="dashboard-02.html">
                            <div class="icon-box-sidebar"><i data-feather="grid"></i></div>
                        </a>
                    </div>
                    <nav class="sidebar-main">
                        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
                        <div id="sidebar-menu">
                            <ul class="sidebar-links" id="simple-bar">
                                <li class="back-btn">
                                    <div class="mobile-back text-end"><span>Geri Dön</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                                </li>
                                <li class="pin-title sidebar-list">
                                    <h6>Pinned</h6>
                                </li>
                                <hr>
                                <li class="sidebar-list">
                                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="@Url.Action("Index","Admin")"><i data-feather="home"></i><span>Anasayfa</span></a>
                                </li>

                                <li class="sidebar-list">
                                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="shopping-bag"></i><span>Urun Ayarları</span></a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="@Url.Action("urun_ekle","Admin")">Urun Ekle</a></li>
                                        <li><a href="@Url.Action("urun_listele","Admin")">Urun Listele</a></li>

                                        <li><a href="@Url.Action("siparis_gecmisi","Admin")">Sipariş Geçmişi</a></li>


                                    </ul>
                                </li>
                                <li class="sidebar-list">
                                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="shopping-bag"></i><span>Marka Ayarları</span></a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="@Url.Action("marka_ekle","Admin")">Marka Ekle</a></li>
                                        <li><a href="@Url.Action("marka_listele","Admin")">Marka Listele</a></li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="shopping-bag"></i><span>Kategori Ayarları</span></a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="@Url.Action("kategori_ekle","Admin")">Kategori Ekle</a></li>
                                        <li><a href="@Url.Action("kategori_listele","Admin")">Kategori Listele</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-list">
                                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="shopping-bag"></i><span>Slider Ayarları</span></a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="@Url.Action("slider_ekle","Admin")">Slider Ekle</a></li>
                                        <li><a href="@Url.Action("slider_listesi","Admin")">Slider Listele</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-list">
                                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)"><i data-feather="shopping-bag"></i><span>S-Medya Ayarları</span></a>
                                    <ul class="sidebar-submenu">
                                        <li><a href="@Url.Action("sosyalmedya_ekle","Admin")">Sosyal Medya Ekle</a></li>
                                        <li><a href="@Url.Action("sosyalmedya_listesi","Admin")">Sosyal Medya Listele</a></li>
                                    </ul>
                                </li>
                                <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
</nav>
                </div>
            </div>
            <!-- Page Sidebar Ends-->
            <div class="page-body">
                @RenderBody()
                <!-- Container-fluid Ends-->
            </div>
            <!-- footer start-->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 p-0 footer-left">
                            <p class="mb-0">Copyright © 2023 Tivo. All rights reserved.</p>
                        </div>

                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- latest jquery-->
    <script src="~/adminassets/js/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap js-->
    <script src="~/adminassets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="~/adminassets/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/adminassets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="~/adminassets/js/scrollbar/simplebar.js"></script>
    <script src="~/adminassets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="~/adminassets/js/config.js"></script>
    <script src="~/adminassets/js/sidebar-menu.js"></script>
    <script src="~/adminassets/js/chart/knob/knob.min.js"></script>
    <script src="~/adminassets/js/chart/knob/knob-chart.js"></script>
    <script src="~/adminassets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="~/adminassets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="~/adminassets/js/prism/prism.min.js"></script>
    <script src="~/adminassets/js/clipboard/clipboard.min.js"></script>
    <script src="~/adminassets/js/custom-card/custom-card.js"></script>
    <script src="~/adminassets/js/notify/bootstrap-notify.min.js"></script>
    <script src="~/adminassets/js/datepicker/date-picker/datepicker.js"></script>
    <script src="~/adminassets/js/datepicker/date-picker/datepicker.en.js"></script>
    <script src="~/adminassets/js/datepicker/date-picker/datepicker.custom.js"></script>
    <script src="~/adminassets/js/owlcarousel/owl.carousel.js"></script>
    <script src="~/adminassets/js/typeahead/handlebars.js"></script>
    <script src="~/adminassets/js/typeahead/typeahead.bundle.js"></script>
    <script src="~/adminassets/js/typeahead/typeahead.custom.js"></script>
    <script src="~/adminassets/js/typeahead-search/handlebars.js"></script>
    <script src="~/adminassets/js/typeahead-search/typeahead-custom.js"></script>
    <script src="~/adminassets/js/dashboard/dashboard_2.js"></script>
    <!-- Template js-->
    <script src="~/adminassets/js/script.js"></script>

    <!-- login js-->
</body>
</html>
