@model IEnumerable<AhmetProj.Models.SocialMedia>

@{
    ViewBag.Title = "sosyalmedya_listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6">
                <h3>Sosyal Medya Listele</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("index","Admin")"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">AnaSayfa</li>
                    <li class="breadcrumb-item active">S-Medya Listesi</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid list-products">
    <div class="row">

        <div class="col-sm-12">
            <div class="card">

                <div class="card-body">
                    <div class="table-responsive theme-scrollbar product-table">
                        <table class="display" id="basic-1">
                            <thead>
                                <tr>
                                    <th>Facebook</th>
                                    <th>İnstagram</th>
                                    <th>Twitter</th>
                                    <th>Linkedin</th>
                                    <th>Discord</th>

                                    <th>Ayarla</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td> <span>@item.facebook_url</span></td>
                                        <td> <span>@item.instagram_url</span></td>
                                        <td> <span>@item.twitter_url</span></td>
                                        <td> <span>@item.linkedin_url</span></td>
                                        <td> <span>@item.discord_url</span></td>


                                        <td>

                                            <a href="@Url.Action("sosyalmedya_sil", "Admin", new {id=item.id})" class="btn btn-danger btn-xs" role="button" data-original-title="Sil" title="Sil">Sil</a>
                                            <a href="@Url.Action("sosyalmedya_guncelle", "Admin", new { id = item.id })" class="btn btn-primary btn-xs" role="button" data-original-title="Güncelle" title="Güncelle">Güncelle</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
