@model AhmetProj.Models.Products
@{
    ViewBag.Title = "urun_ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6">
                <h3>Add Product</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("index","Admin")"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Anasayfa</li>
                    <li class="breadcrumb-item active">Urun Ekle</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid add-product">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="product-info">
                        <h5>Açıklama</h5>
                        @using (Html.BeginForm("urun_ekle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                    <form>
                        <div class="product-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label class="form-label">Urun Adı</label>
                                        @Html.EditorFor(model => model.product_name, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label class="form-label">Urun Açıklaması</label>
                                        @Html.EditorFor(model => model.product_description, new { htmlAttributes = new { @class = "form-control" } })
                                        @*<input class="form-control" placeholder="Urune Ait bir Açıklama Girin" type="text"><span class="text-danger"></span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label class="form-label">Urun Kategorisi</label>

                                        @Html.DropDownList("category_id", null, htmlAttributes: new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label class="form-label">Urun Marka</label>

                                        @Html.DropDownList("brand_id", null, htmlAttributes: new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="turl">Resim Seçiniz:</label>
                            <div class="col-md-10">
                                @Html.TextBox("files", "", new { type = "file",multiple="multiple", onchange = "previewImages()" })
                                <div id="resim_goster" style="width:50px;height:150px;display:flex;"></div>
                            </div>
                        </div>

                       

                        <h5 class="mt-4">Fiyat belirle</h5>
                        <div class="product-group">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label class="form-label">Price</label>
                                        @*<input class="form-control" type="number">*@
                                        @Html.EditorFor(model => model.product_price, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <div class="row">
                                <div class="col-sm-12 text-end">
                                    @*<a class="btn btn-primary me-3">Guncelle</a>*@
                                    <button type="submit" class="btn btn-success">Ürün Ekle</button>
                                </div>
                            </div>
                        </div>
                    </form>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

